@import url(reset.css);


/* ------------ Hero section (Img + Dropdown list) ---------- */

body{
    margin: 0 auto;
    background-color: #daded6;
    font-family: 'poppins','GenSenRounded2 TW', 'Noto Sans TC';
    /* max-width: 1440px; */
}

/* ------------ Top Nav ---------- */

.header{
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 4px 48px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #605f4b; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    
}
.header-left{
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

}

.header-left a{
    color: #daded6; 
    font-size: 16px; 
    transition: color 0.3s ease;
    text-decoration: none;
    margin-right: 16px;

}

.header-right a{
    color: #daded6; 
    font-size: 16px; 
    transition: color 0.3s ease;
    text-decoration: none;

}

.header a:hover{
    color: #c4a37f;
    
}

.header-center img{
    width: 150px;
    height: auto;
    flex: 1;
    text-align: center;
}

.header-right{
    flex: 1;
    gap: 24px;
    text-align: right;
}

.icons {
    text-decoration: none; 
    color: inherit; 
    margin-right: 8px;

}
  
.icons:hover {
    color: #c4a37f;
}

/* 漢堡選單默認隱藏 */
.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #daded6;
    flex: 1;
}

/* 當漢堡選單開啟時，切換成叉叉圖標 */
.hamburger-menu.open i {
    content: '\f00d'; /* Font Awesome "X" (叉叉) */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

/* 漢堡選單的垂直導航默認隱藏 */
.mobile-nav {
    display: none;
    position: fixed;
    top: 84px;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #434233;
    z-index: 2000;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

/* ------------ Hero-section ---------- */

.faq-section{
    padding: 80px 120px;
    margin: 100px auto 0;
   
}
  
.faq-title{
    font-size: 64px;
    text-align: left;
    color: #434233;
    margin-bottom: 72px;
    font-weight: bold;
   
}

.main-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    
}
  
.faq-container{
    display: flex;
    justify-content: space-between;
    flex: 1;
    
}

.faq-image{
    max-width: 480px;
}

.faq-image img{
    width: 90%;
    border-radius: 24px;
    object-fit: cover;
    
}
  
.faq-questions{
    flex: 1;
    
}
  
.faq-category{
    
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}
  
.faq-category h2{
    font-size: 36px;
    margin-bottom: 24px;
    color: #605f4b;
    padding-bottom: 16px;
    font-weight: 500;
    
}

.faq-item{
    margin-bottom: 36px;
}
  
.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    background: none;
    border: none;
    text-align: left;
    padding: 24px 0;
    color: #434233;
    font-family: 'GenSenRounded2 TW', 'Noto Sans TC';
    letter-spacing: 1px;
    
}

.faq-item{
    border-bottom: 1px solid #605f4b;
    
}
 
.faq-item.open .faq-icon{
    color:#fff;
}
  
.faq-icon:hover{
    background-color: #605f4b;
    
} 
  
.faq-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 32px;
    text-align: center;
    color: #fff;
    transition: transform 0.3s ease;
    background-color: #939580;
    border-radius: 8px;

} 

.faq-answer {
    display: none;
    padding: 12px 0 24px;
    color: #605f4b;
    line-height: 1.4;
}
  
.faq-item.open .faq-answer {
    display: block;
}
 
/* ------------ Footer ---------- */

.top{
    background-color: #605f4b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 80px;
    color:#e4ded2;
    gap: 48px;
    border-bottom: 1px solid #727272;
    
}

.top .left-section{
    display: flex;
    align-items: center;
    gap: 48px;

}

.top img{
    width: 150px;
    height: auto;
    flex: 1;
   
}

.top .middle-section{
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    
}

.middle-section h2{
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
}

.middle-section p{
    margin-bottom: 8px;
    font-size: 14px;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.right-section a{
    text-decoration: none;
    color:#e4ded2;
    transition: color 0.3s ease;

}

.right-section a:hover{
    color:#c4a37f;

}

.bottom{
    text-align: center;
    padding: 16px 0;
    background-color: #434233;
}

.bottom p{
    font-size: 14px;
    color: #e4ded2;
    padding: 8px 0;
    line-height: 1.6;
}
  