@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0 auto;
    background-color: #daded6;
    font-family: 'poppins','GenSenRounded2 TW', 'Noto Sans TC';
    color:#605f4b;
    /* max-width: 1440px; */
}

/* ------------ Top Nav ---------- */

.header{
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 4px 48px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #605f4b; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    
}
.header-left{
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

}

.header-left a{
    color: #daded6; 
    font-size: 16px; 
    transition: color 0.3s ease;
    text-decoration: none;
    margin-right: 16px;

}

.header-right a{
    color: #daded6; 
    font-size: 16px; 
    transition: color 0.3s ease;
    text-decoration: none;

}

.header a:hover{
    color: #c4a37f;
    
}

.header-center img{
    width: 150px;
    height: auto;
    flex: 1;
    text-align: center;
}

.header-right{
    flex: 1;
    gap: 24px;
    text-align: right;
}

/* svg 要用fill方法才能設置顏色，font的才能使用color */
/* 當用戶與圖標交互（如懸停或點擊）時，使用 transition 可以讓圖標顏色從一個狀態到另一個狀態的漸變過程看起來平滑，避免突兀。 */

.icons {
    text-decoration: none; 
    color: inherit; 
    margin-right: 8px;

}
  
.icons:hover {
    color: #c4a37f;
}

/* 漢堡選單默認隱藏 */
.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #daded6;
    flex: 1;
}

/* 當漢堡選單開啟時，切換成叉叉圖標 */
.hamburger-menu.open i {
    content: '\f00d'; /* Font Awesome "X" (叉叉) */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

/* 漢堡選單的垂直導航默認隱藏 */
.mobile-nav {
    display: none;
    position: fixed;
    top: 84px;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #434233;
    z-index: 2000;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

/* ------------ Carousel ---------- */

/*.owl-carousel .item h4 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4375rem;
    margin-top: 0rem;
    } */

.owl-carousel{
    margin-top: 84px;
    margin-bottom: 48px;
}
    

.owl-nav{
    display: none;
}

.owl-carousel .item {
    height: 550px;
    object-fit: cover;

}
    
  .owl-carousel .item img {
    transition: transform 0.5s ease-in-out; /* 設置放大的過渡效果 */
  }

  .owl-carousel .owl-item.active img {
    transform: scale(1.05); /* 當幻燈片處於活躍狀態時，放大 10% */
  }

/* ------------ Main Section ---------- */

.container {
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    
}

.content{
    width: 40%;
    height: 180px;
    line-height: 1.4;
    margin: 0 auto;
    letter-spacing: 0.8px;
}

.content p{
    font-size: 18px;
}

.image{
    position: absolute;
    z-index: 1;
}
  
.image img{
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-img1{
    /* width: 285px;
    height: 379px; */
    width: 22vw;
    height: 28vw;
    left: 3%;
    top: 117px;
    right: 0;
    bottom: 0;
}

.main-img2{
    /* width: 362px;
    height: 271px; */
    width: 30vw;
    height: 20vw;
    left: 5%;
    top: 590px;
    right: 0;
    bottom: 0;
}

.main-img3{
    /* width: 375px;
    height: 281px; */
    width: 32vw;
    height: 20vw;
    left: 35%;
    top: 26px;
    right: 0;
    bottom: 0;
}

.main-img4{
    /* width: 413px;
    height: 286px; */
    width: 30vw;
    height: 20vw;
    left: 42%;
    top: 626px;
    right: 0;
    bottom: 0;
}

.main-img5{
    /* width: 285px;
    height: 380px; */
    width: 20vw;
    height: 26vw;
    left: 78%;
    top: 70px;
    right: 0;
    bottom: 0;

}

.main-img6{
    /* width: 360px;
    height: 285px; */
    width: 28vw;
    height: 20vw;
    left: 75%;
    top: 506px;
    right: 0;
    bottom: 0;
}

/* .illustration {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .illustration.hidden {
    transform: scale(0.8); 
  }
  
  
  .illustration:nth-child(7) { 
    top: 40%; 
    left: 30%; 
    width: 120px;
    animation: slideIn 0.8s ease-out 0.2s forwards;

}
  .illustration:nth-child(8) { 
    top: 60%; 
    right: 400%; 
    width: 140px; animation: slideIn 0.8s ease-out 0.4s forwards;}
  .illustration:nth-child(9) { bottom: 15%; left: 60%; width: 160px; } */
  
/*  ------------ Img + Text (New arrivals) ---------- */

.new-arrivals{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 60px 120px;
    max-width: 100%; 
    margin: 0 auto;
    height: 400px;
    align-items: stretch;
    gap: 24px;
     
}
  
.text-content{
    flex: 1;
    padding:16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
    

  
.text-content h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #605f4b; 
}
  
.text-content h2{
    font-size: 24px;
    margin-bottom: 12px;
    
}
  
.text-content p{
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 12px;
}
  

.image-content {
    flex: 1;
    text-align: center;
    overflow: hidden;
}
  
.image-content img {
    max-width: 600px;
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 24px;
}

/* ------------ Img + Text (Dessert of the month) ----------  */

.dessert{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 60px 120px;
    max-width: 100%; 
    margin: 0 auto;
    gap: 48px;
    height: 400px;
    
    
}

.dessert .text-content{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.dessert .text-content p{
    font-size: 18px;
    line-height: 1.4;
}

.dessert img{
    max-width: 600px;
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 24px;
}

/* ------------ Item row (Online shop) ---------- */


.store{
    padding: 60px 120px;
}
  
.store h1{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 60px;
}

.product-list {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px; 
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;
    
}

.product-card{
    flex: 1 1 calc(33.333% - 20px);
    max-width: 480px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.img-container{
    margin-bottom: 16px;
    aspect-ratio: 3 / 3;
    overflow: hidden;
    width: 100%; 

}
      
.img-container img {
    width: 100%; 
    height: 100%; 
    border-radius: 24px;
    object-fit: cover;
}

.cards li{
    margin-bottom: 48px;
    flex: 1; 
    text-align: center; 
}

.card-bottom{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
   
}

.card-bottom p{
    font-size: 20px;
    flex: 1; 
    margin: 0; 
    word-wrap: break-word;
    text-align: left;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

.link-block{
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease;
}

.link-block:hover{
    text-decoration: underline;
}

.fill-button{
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #8a896d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.fill-button .fill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #434233;
    color: #fff;
    transition: width 0.5s ease-in-out;
    z-index: 1; 
}

.shop-button{
    color: #fff;
    z-index: 2;
    font-size: 24px;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-button:hover .fill{
    width: 100%;
    
}

.fill-button:hover{
    transform: scale(1.1);
}
  
/*   ------------ Footer ---------- */

.top{
    background-color: #605f4b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 80px;
    color:#e4ded2;
    gap: 48px;
    border-bottom: 1px solid #727272;
    
}

.top .left-section{
    display: flex;
    align-items: center;
    gap: 48px;

}

.top img{
    width: 150px;
    height: auto;
    flex: 1;
   
}

.top .middle-section{
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    
}

.middle-section h2{
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
}

.middle-section p{
    margin-bottom: 8px;
    font-size: 14px;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.right-section a{
    text-decoration: none;
    color:#e4ded2;
    transition: color 0.3s ease;

}

.right-section a:hover{
    color:#c4a37f;

}

.bottom{
    text-align: center;
    padding: 16px 0;
    background-color: #434233;
}

.bottom p{
    font-size: 14px;
    color: #e4ded2;
    padding: 8px 0;
    line-height: 1.6;
}
    
