/* 當頁面寬度小於 1000px 時 */
@media (max-width: 1120px) {
    .header-left{
        display: none; /* 隱藏原本的水平選單 */
    }
    
    .hamburger-menu {
        display: block; /* 顯示漢堡選單按鈕 */
        transition: transform 0.3s ease;
        font-size: 18px;
    }

    .hamburger-menu i:hover{
        color: #c4a37f;
        
    }
    
    .mobile-nav.open {
        display: flex; /* 顯示垂直選單 */
        transform: translateX(0); /* 垂直選單滑出效果 */
    }
    
    .mobile-nav a {
        color: #daded6;
        font-size: 18px;
        text-decoration: none;
        padding: 8px 0;
        width: 100%;
        text-align: left;
        margin-right: 0px;
    }
    
    .mobile-nav a:hover {
        color: #c4a37f;
    }

    .overlay {
        display: none; 
        position: fixed;
        top: 84px;
        left: 670px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transition: opacity 0.3s ease;
        z-index:20;
    }

    .overlay.open {
        display: block;
        opacity: 1;
    }

    
}

@media (max-width: 1000px) {

    .product-list{
        flex-direction: column;
        margin: 0 auto;
    }
    .product-card {
        flex: 1 1 calc(50% - 20px);
        margin: 0 auto;
    }

    .content{
        width: 50%;
    }
}
/* Tablet (width <= 820px) */
@media screen and (max-width: 820px) {
    .owl-carousel .item {
        height: auto;

    }


    .container{
        height: 800px;
        padding: 0 60px;
        width: auto;
    }

    .content{
        width: 60%;
        margin: 0 auto;
    }

    .content p{
        margin-top: 48px;
    }
    .store {
        padding: 16px 24px;
        flex-direction: column;
    }

    .new-arrivals, .dessert{
        padding: 0 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        
       
    }

    .text-content{
        padding: 0px;
    }

    .text-content h1 {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .text-content h2 {
        font-size: 20px;
        line-height: 1.4;
    }

    .dessert .text-content p{
        font-size: 16px;
    }
    .text-content p {
        font-size: 16px;
       
    }

    .img-container{
        max-width: 360px;
    }

    .product-list {
        flex-direction: column;
    }

    .card-bottom p {
        font-size: 18px;
    }

    .image-content img {
        height: 240px;
        width: 360px;
    }

    

    .top .middle-section{
        gap: 24px;  
    }

    .top{
        padding: 36px 0;
    }

    .image-content{
        overflow: visible;
     }

}

@media (max-width: 600px) {
    .image-content img {
    height: 160px;
    width: 100%;
}
 

    .image img {
        border-radius: 8px;
    }

    .header {
        padding: 4px 16px;
    }

    .container {
        height: 750px;
    }

    .owl-carousel{
        margin-top: 84px;
        margin-bottom: 0px;
    }
    .product-card {
        flex: 1 1 100%; /* 600px 以下切換為每列一個 */
    }
    .content p {
        margin-top: 12px;
    }
    .content{
        width: 100%;
    }

    .main-img1{
        top: 110px;
    }
    
    .main-img3{
        top: 90px;
    }

    .main-img4 {
        top: 510px;
    }

    .main-img2 {
        top: 500px;
    }

    .main-img5{
        top: 100px;
    }
    .main-img6 {
        top:490px;
    }

    .left-section{
        display: flex;
        flex-direction: column;
    }

    .bottom{
        padding: 16px 96px;
    }

   
}

/* Mobile (width <= 430px) */
@media screen and (max-width: 430px) {

    .container{
        height: 540px;
        padding: 0 60px;
        width: auto;
    }

    .main-img1 {
        top: 40px;
    }

    .main-img2 {
        top: 420px;
    }

    .main-img3 {
        top: 20px;
    }

    .main-img4 {
        top: 380px;
    }

    .main-img5 {
        top: 80px;
    }

    .main-img6 {
        top: 410px;
    }

    .new-arrivals, .dessert{
        flex-direction: column;
        margin: 40px auto;
    }

    .image-content img{
        width: 200px;
        height: 200px;
    }

 
    .new-arrivals .text-content {
        order: 1; 
    }

    .dessert .text-content {
        order: 1; 
    }


    .image-content{
        overflow:visible;
    }

    .text-content{
        text-align: left;
        width: 100%;
    }

    .text-content h1 {
        font-size: 28px;
    }

    .text-content h2 {
        font-size: 18px;
    }

    .text-content p {
        font-size: 14px;
    }


    .product-list {
        flex-direction: column;
        gap: 16px;
    }

    .card-bottom p {
        font-size: 16px;
    }
    
    .content p{
        font-size: 14px;
        margin-top: 24px;
    }

    .product-card{
        box-sizing: border-box;
    }

    .top .left-section{
        gap: 20px;
    }
    .top .middle-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .address-block{
        margin-bottom: 12px;
    }
    
    .hours-block{
        margin-bottom: 12px;
    }

    .address-block{
        text-align: center;
    }

    .bottom p{
        line-height: 1.6;

    }

    .bottom{
        padding: 16px 52px;
    }
}