/* Tablet (width: 820px and below) */
@media screen and (max-width: 820px) {
    .shop-container {
        padding: 40px 60px; /* 減少內邊距 */
        gap: 48px;
    }

    .shop-container h1 {
        font-size: 48px; /* 減小標題字體 */
        margin-top: 48px;

    }

    /* 上半部Banner調整 */
    .owl-theme .item {
        height: 400px; /* 調整Banner高度 */
    }

    .owl-carousel .item h4 {
        font-size: 1.2rem; /* 縮小字體 */
    }

    .shop-layout{
        flex-direction: column;
    }
    .shop-cards {
        grid-template-columns: repeat(2, 1fr); /* 三列布局 */
        gap: 20px; /* 減少間距 */
        max-width: 100%; /* 滿版 */
    }

    .shop-cards li {
        padding: 16px; /* 減少卡片內邊距 */
        border-radius: 16px; /* 減少圓角 */
        margin-bottom: 10px;
    }

    .imgtext img {
        height: 300px;
        border-radius: 12px;
        object-position: 50% 60%;
    }

    .text-content h3 {
        font-size: 14px; /* 調整產品名稱字體大小 */
        height: 48px; /* 縮小高度 */
        
    }

    .text-content p {
        font-size: 18px; /* 縮小價格字體 */
        margin-bottom: 12px;
    }

    .shop-button {
        padding: 16px 12px; /* 減少按鈕內邊距 */
        font-size: 16px; /* 調整字體大小 */
    
    }

    .shop-tabs{
        gap: 24px;
        flex-direction: row;
        margin-bottom: 48px;
    }

    .card-title1, .card-title2 {
        margin-top: 48px;
    }
}

/* Mobile (width: 430px and below) */
@media screen and (max-width: 430px) {
    .shop-container {
        padding: 24px 16px; 
    }

    .shop-container h1 {
        font-size: 36px; /* 繼續縮小標題字體 */
        margin-top: 24px;
    }

    /* 上半部Banner調整 */
    .owl-theme .item {
        height: 280px; /* 調整Banner高度 */
    }

    .owl-carousel .item h4 {
        font-size: 1rem; /* 進一步縮小字體 */
    }


    .shop-cards {
        grid-template-columns: repeat(1, 1fr); 
        gap: 12px; /* 減少間距 */
        max-width: 100%; /* 滿版 */
    }

    .shop-cards li {
        padding: 12px; /* 減少卡片內邊距 */
        border-radius: 12px; /* 減少圓角 */
    }

    .text-content h3 {
        font-size: 12px; /* 縮小產品名稱字體 */
        height: 40px; /* 縮小高度 */
    }

    .text-content p {
        font-size: 16px; /* 縮小價格字體 */
    }

    .shop-button {
        padding: 16px 8px; /* 縮小按鈕 */
        font-size: 12px; /* 調整字體大小 */
    }

    .card-title1, .card-title2 {
        margin-top: 36px;
    }
}