 
 /* 當頁面寬度小於 1000px 時 */
@media (max-width: 1120px) {
    .header-left{
        display: none; /* 隱藏原本的水平選單 */
    }
    
    .hamburger-menu {
        display: block; /* 顯示漢堡選單按鈕 */
        transition: transform 0.3s ease;
        font-size: 18px;
    }

    .hamburger-menu i:hover{
        color: #c4a37f;
        
    }
    
    .mobile-nav.open {
        display: flex; /* 顯示垂直選單 */
        transform: translateX(0); /* 垂直選單滑出效果 */
    }
    
    .mobile-nav a {
        color: #daded6;
        font-size: 18px;
        text-decoration: none;
        padding: 8px 0;
        width: 100%;
        text-align: left;
        margin-right: 0px;
    }
    
    .mobile-nav a:hover {
        color: #c4a37f;
    }

    .overlay {
        display: none; 
        position: fixed;
        top: 84px;
        left: 670px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transition: opacity 0.3s ease;
        z-index:20;
    }

    .overlay.open {
        display: block;
        opacity: 1;
    }
}
/* Tablet (width: 820px and below) */
@media screen and (max-width: 820px) {
    .hero-section {
        padding: 40px 60px; /* 減少內邊距 */
    }

    .hero-section h1 {
        font-size: 48px;
        margin-bottom: 80px;

    }

    .content {
        flex-direction: column; /* 改為垂直排列 */
        height: auto; /* 自動高度 */
        gap: 24px; /* 增加內容區塊間距 */
    }

    .left-content {
        flex: unset;
        display: flex;
        justify-content: center; /* 圖片置中 */
        gap: 48px; /* 增加圖片間距 */
        position: static; /* 重置定位 */
        margin-bottom: 80px;
    }

    .left-content img {
        height: auto;
        position: static; /* 重置圖片定位 */
        border-radius: 16px; /* 減少圓角 */
    }

    .right-content {
        text-align: center; /* 文本置中 */
        flex: unset;
        margin-bottom: 80px;
    }

    .left-content .left-img{
        width: 48%;
    }

    .left-content .right-img{
        width: 48%;
        transform: translateY(11%);
    }

    .right-content h3 {
        font-size: 28px;
        margin-bottom: 16px;
        text-align: left;
    }

    .right-content p {
        font-size: 16px;
        text-align: left;
    }

    .container {
        flex-direction: column; /* 改為垂直排列 */
    }

    .form-section {
        padding: 28px;
        margin: 0 auto;
        width: 90%;
    }

    /* .image-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        position: static;
    }

    .image {
        position: static;
        width: 30%;
        height: auto;
        border-radius: 16px; 
    } */

    .image-section{
        display: none;
    }

    .top .middle-section{
        gap: 24px;  
    }

    .top{
        padding: 36px 0;
    }
}

@media (max-width: 600px) {

    .left-section{
        display: flex;
        flex-direction: column;
    }

    .bottom{
        padding: 16px 80px;
    }
}

/* Mobile (width: 430px and below) */
@media screen and (max-width: 430px) {
    .hero-section {
        padding: 24px 16px; /* 減少內邊距 */
    }

    .hero-section h1 {
        font-size: 36px;
        margin-bottom: 48px;
    }

    .content {
        flex-direction: column; /* 垂直排列 */
        gap: 16px; /* 減少間距 */
        height: auto; /* 自動高度 */
    }

    .left-content {
        flex-direction: row; /* 改為垂直排列圖片 */
        gap: 24px; /* 圖片間距減少 */
        justify-content: center; /* 圖片置中 */
        margin-bottom: 48px;
    }

    .left-content img {
        width: 100%; /* 圖片全寬 */
        height: auto; /* 保持圖片比例 */
        border-radius: 12px; /* 圓角減少 */
        overflow: hidden;
    }

    .left-content .left-img {
        width: 50%;
    }

    .left-content .right-img {
        width: 50%;
    }

    .right-content {
        
        margin-bottom: 48px;
    }

    .right-content h3 {
        font-size: 24px;
        margin-bottom: 12px;
        text-align: left;
    }

    .right-content p {
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
    }

    .toptext {
        margin-bottom: 24px;
    }

    .form-section h4 {
        font-size: 28px;
        margin-bottom: 12px;
    }
    .form-section p {
        font-size: 12px;
    }

    .form-section {
        padding: 24px;
        margin: 0;
        width: auto;
    }

    form label {
        font-size: 14px;
    }

    form input, form textarea {
        padding: 12px 16px; /* 減少表單內邊距 */
        font-size: 14px;
        margin-bottom: 16px;
    }

    .image-section {
        flex-direction: column; /* 圖片垂直排列 */
        gap: 12px; /* 減少圖片間距 */
    }

    .image {
        width: 100%; /* 圖片全寬 */
        height: auto; /* 保持圖片比例 */
        border-radius: 12px; /* 圓角減少 */
    }

    button {
        width: 100%; /* 按鈕全寬 */
        font-size: 14px;
        height: 36px;
    }

    .top .left-section{
        gap: 20px;
    }
    .top .middle-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .address-block{
        margin-bottom: 12px;
        text-align: center;
    }
    
    .hours-block{
        margin-bottom: 12px;
    }

    .bottom p{
        line-height: 1.6;
    }

    .bottom{
        padding: 16px 52px;
    }
}