@import url(reset.css);

body{
    margin: 0 auto;
    background-color: #daded6;
    font-family: 'poppins','GenSenRounded2 TW', 'Noto Sans TC';
    
    /* max-width: 1440px; */
}

/* ------------ Top Nav ---------- */

.header{
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 4px 48px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #605f4b; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    
}
.header-left{
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

}

.header a{
    color: #daded6; 
    font-size: 16px; 
    transition: color 0.3s ease;
    text-decoration: none;
    margin-right: 16px;

}

.header a:hover{
    color: #c4a37f;
    
}

.header-center img{
    width: 150px;
    height: auto;
    flex: 1;
    text-align: center;
}

.header-right{
    flex: 1;
    gap: 24px;
    text-align: right;
}

.icons {
    text-decoration: none; 
    color: inherit; 
    margin-right: 8px;

}
  
.icons:hover {
    color: #c4a37f;
}

/* 漢堡選單默認隱藏 */
.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #daded6;
    flex: 1;
}

/* 當漢堡選單開啟時，切換成叉叉圖標 */
.hamburger-menu.open i {
    content: '\f00d'; /* Font Awesome "X" (叉叉) */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

/* 漢堡選單的垂直導航默認隱藏 */
.mobile-nav {
    display: none;
    position: fixed;
    top: 84px;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #434233;
    z-index: 2000;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

/* ------------ Hero section (2Imgs + Text ) ---------- */

.hero-section{
    padding: 80px 120px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;

}

.hero-section h1{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 72px;
    color: #434233;
    
    
}

.content{
    display: flex;
    flex-direction: row;
    height: 800px;
    
} 

.left-content{
    position: relative;
    flex: 2;
}

.left-content img{
    position: absolute;
    width: 320px;
    height: 480px;
    object-fit: cover;
    border-radius: 24px;
}

.left-content .left-img{
    top: 60px;
    right: 0;
    left:0;
    width: 45%;

}

.left-content .right-img{
    top: 30px;
    right: 60px;
    width: 45%;
    transform: translateY(-10%);

}

.right-content{
    flex: 1;
    
}

.right-content h3{
    font-size: 36px;
    font-weight: bold;
    color: #605f4b;
    
}

.right-content p{
    font-size: 18px;
    color: #605f4b;
    line-height: 1.4;
}

.toptext{
    margin-bottom: 60px;
}

.toptext h3 , .bottomtext h3{
    margin-bottom: 16px;
}


.container{
    display: flex;

}
  
  /* 左側表單區域 */
.form-section{
    flex: 1;
    background-color: #f8f5ef;
    padding: 48px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
  
.form-section h4{
    font-size: 36px;
    color: #605f4b;
    margin-bottom: 24px;
    font-weight: 500;
}
  
.form-section p{
    font-size: 16px;
    margin-bottom: 24px;
    color: #605f4b;
    line-height: 1.6;
}
  
form label{
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    color: #605f4b;
}
  
form input, form textarea{
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 36px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
}
  
form textarea{
    height: 100px;
    resize: none;
}

input:focus, textarea:focus {
  outline: none; 
  border: 2px solid #a67654; 
  border-radius: 8px; 
  
}
  
.radio-group{
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
    
}
 
.radio-group input[type="radio"] {
    width: 16px; 
    height: 16px;
    margin: 0;
    margin-right: 8px;
    accent-color: #ae8034; 
}

.radio-group label{
    display: flex;
    font-weight: normal;
    flex-direction: row;
    align-items: center;
    
}
  
button{
    display: inline-block;
    width: 180px;
    height: 36px;
    background-color: #bb7458;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 24px;
    
}
  
button:hover{
    background-color: #c4a37f;
}
  
  /* 右側圖片區域 */
.image-section{
    flex: 1;
    position: relative;
    z-index: -1;
    
}
  
.image{
    position: absolute;
    border-radius: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-1{
    top: 0;
    right: 100px;
    width: 300px;
    height: auto;
}
  
.image-2{
    top: 20%;
    right: -80px;
    width: 285px;
    transform: translateY(45%);
    height: auto;
}
  
.image-3{
    bottom: 0;
    right: 180px;
    transform: translateY(30%);
    width: 240px;
    height: auto;
    
}
/* ------------ Form & button + 3Imgs ---------- */

/* ------------ Footer ---------- */

.top{
    background-color: #605f4b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 80px;
    color:#e4ded2;
    gap: 48px;
    border-bottom: 1px solid #727272;
    
}

.top .left-section{
    display: flex;
    align-items: center;
    gap: 48px;

}

.top img{
    width: 150px;
    height: auto;
    flex: 1;
   
}

.top .middle-section{
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    
}

.middle-section h2{
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
}

.middle-section p{
    margin-bottom: 8px;
    font-size: 14px;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.right-section a{
    text-decoration: none;
    color:#e4ded2;
    transition: color 0.3s ease;

}

.right-section a:hover{
    color:#c4a37f;

}

.bottom{
    text-align: center;
    padding: 16px 0;
    background-color: #434233;
}

.bottom p{
    font-size: 14px;
    color: #e4ded2;
    padding: 8px 0;
    line-height: 1.6;
}